body {
	font-family: 'Roboto Slab', serif;
	background-image: url('david-von-diemar-706918-unsplash.jpg'); /* Photo by David von Diemar on Unsplash */
	background-attachment: fixed;
	background-size: cover;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Cabin Sketch', cursive;
}
#page {
	width: 80vw;
	height: 80vh;
	background-color: #fff;
	border: double #000 3px;
}
#authors {
	position: absolute;
	bottom: 16px;
	right: 8px;
}
