body {
	background-attachment: fixed;
	background-image: url('david-von-diemar-706918-unsplash.jpg'); /* Photo by David von Diemar on Unsplash */
	background-size: cover;
	font-family: 'Roboto Slab', serif;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Cabin Sketch', cursive;
}
.page-contaier{
	width: 100%;
}
.page {
	background-color: #fff;
	border: double #000 3px;
	top: 0; left: 0; bottom: 0; right: 0;
	margin: 64px;
	padding: 24px;
}
#authors {
	bottom: 0;
	right: 0;
	margin: 16px;
	position: absolute;
}
